apuntes_score.txt
apuntes_score_v2.txt
tunning_catboost.txt
tunning_lightgbm.txt
data/preprocessed/
data/folds.npy
data/download_data.ipynb
data/datathon-entel-2022-reto2.zip

notebooks/.ipynb_checkpoints/
notebooks/backup/
notebooks/catboost_info
notebooks/stacking_models.ipynb

results/